USE [ActiveCitizen.DataWarehouse]
GO
/****** Object:  Table [dbo].[Mos_Code]    Script Date: 23.05.2016 14:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mos_Code](
	[def] [int] NOT NULL,
	[range1] [int] NOT NULL,
	[range2] [int] NOT NULL
) ON [PRIMARY]

GO
